@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/facebook.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/corner-down-left.css');


*{
    color: black;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;}

body {
    background-color: black;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*---------------------- Main-------------------------------------- */
.banner {
    width: 100%;
    margin-top: 86px;
}

/*---------------------- Parte de los productos----------------------- */
.contenedor-productos{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.productos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------------Carrusel manual---------------------------*/
button {
    position: absolute;
    top: 50%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #33333344;
    color: #fff;
    border: none;
    cursor: pointer;
}
#anteriorBtn {
    left: 10px;
}
#siguienteBtn {
    right: 10px;
}
/*----------------------------------------------------------------------*/


/*--------------------------------Footer -------------------------------*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.redes{
    display: flex;
    gap: 50px;
}
.redes-borde{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}
.gg-facebook{
    font-size: 30px;
    color: white;
}
.gg-instagram{
    font-size: 30px;
    color: white;
}
.bi-whatsapp {
    color: white;
    font-size: 25px;
}



/*--------------------  MAQUETADO RESPONSIVE CSS GRID /*-------------------------------------- */
.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 6rem;
    grid-area: navbar;
    background-color: rgb(145, 241, 191);
    display: flex;
    justify-content: center;
}
.main {
    grid-area: main;
}
.footer{
    grid-area: footer;
    width: 100%;
    height: 200px;
    background-color: rgb(145, 241, 191);
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "navbar" 
    "main"
    "footer";
}
/*-------------------------- NAVBAR STYLE----------------------- */
.navbar_link {
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 35px;
    position: relative;
    left: 40px;
    font-family: 'Cabin', sans-serif;
}
.text-navbar:hover{
    text-decoration: underline;
}
#carrito{
    display: none;
}
#info{
    display: none;
}
.logo{
    width: 200px;
}
/*---------------------------- Css de los productos al momento de hacer click ----------------------- */
.producto-page{
    display: flex;
    margin-top: 150px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.img-producto{
    width: 450px;
    height: 500px;
    margin-bottom: 150px;
}
.description-product{
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}
.h1-titulo-producto{
    color: white;
    font-size: 50px;
}
.parrafo-producto{
    font-size: 15px;
    color: white;
    width: 200px;
    height: 200px;
    margin-top: 50px;
}
.boton-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgb(145, 241, 191);
    border-radius: 5px;
}
.boton-contact:hover{
    background-color: rgb(65, 237, 73);
}
.gg-arrow-left {
    color: white;
    margin-bottom: 630px;
}


/*------------------------------------------- Mediaquery mobil -------------------------------------- */
@media (max-width: 480px){
    .navbar{
        width: 30;
        height: 70px;
    }
    .navbar_link {
        color: white;
        font-size: 30px;
        display: flex;
        align-items: center;
        gap: 78px;
        position: relative;
        font-family: 'Cabin', sans-serif;
    }
    .contenedor-productos{
        min-height: 10vh;
        width: 20.7rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .text-navbar{
        display: none;
    }
    #carrito{
        display: block;
    }
    #info{
        display: block;
    }
    
    button {
        position: absolute;
        font-size: 15px;
        padding: 10px 20px;
        background-color: #3333334a;
        border-radius: 500%;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }
    #anteriorBtn{
        top: 156px;
    }
    #siguienteBtn{
        top: 156px;
    }
    .productos{
        width: 160px;
        height: 200px;
    }
    .logo{
        position: relative;
        width: 150px;
        height: 110px;
    }
    .redes{
        display: flex;
        gap: 20px;
    }
    .banner{
        margin-top: 60px;
    }
    .redes-borde{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
    }
}

@media (max-width: 320px){
    .navbar{
        width: 20rem;
    }
    .logo{
        width: 7rem;
    }
    .contenedor-productos{
        width: 20rem;

    }
    .productos{
        width: 9.5rem;
    }
}

 /* ---------------------------Css de las 3 paginas agregadas --------------------------*/
 .producto-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
}
.img-producto{
    width: 300px;
    height: 300px;
    margin-bottom: 0;
}
.description-product{
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    align-items: center;
}
.h1-titulo-producto{
    color: white;
    font-size: 5vh;
}
.parrafo-producto{
    font-size: 2vh;
    color: white;
    width: 15rem;
    height: 11rem;
    margin-top: 1rem;
}
.boton-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 2rem;
    background-color: rgb(145, 241, 191);
    border-radius: 5px;
}
.boton-contact:hover{
    background-color: rgb(65, 237, 73);
}
.gg-arrow-left {
   display: none;
}
.gg-corner-down-left {
    color: white;
    margin-top: 50px;
}

