@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/facebook.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/corner-down-left.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');


* {
    color: black;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*---------------------- Main-------------------------------------- */
.banner {
    width: 100%;
    margin-top: 86px;
}

/*---------------------- Parte de los productos----------------------- */
.contenedor-productos {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.productos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------------Carrusel manual---------------------------*/
button {
    position: absolute;
    top: 50%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #33333344;
    color: #fff;
    border: none;
    cursor: pointer;
}

#anteriorBtn {
    left: 10px;
    position: absolute;
    transform: translateY(-100%);
}

#siguienteBtn {
    right: 10px;
    position: absolute;
    transform: translateY(-100%);
}

/*----------------------------------------------------------------------*/


/*--------------------------------Footer -------------------------------*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.redes {
    display: flex;
    gap: 50px;
}

.redes-borde {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}

.gg-facebook {
    font-size: 30px;
    color: white;
}

.gg-instagram {
    font-size: 30px;
    color: white;
}

.bi-whatsapp {
    color: white;
    font-size: 25px;
}



/*--------------------  MAQUETADO RESPONSIVE CSS GRID /*-------------------------------------- */
.navbar {
    grid-area: navbar;
    display: flex;

}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    width: 100%;
    height: 200px;
    background-color: rgb(145, 241, 191);
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "navbar"
        "main"
        "footer";
}

/*-------------------------- NAVBAR STYLE----------------------- */
.navbar_link {
    position: fixed;
    z-index: 1;
    width: 100%;
    align-items: center;
    height: 6rem;
    background-color: rgb(145, 241, 191);
    display: flex;
    justify-content: space-around;
}

.text-navbar {
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

.text-navbar:hover {
    text-decoration: underline;
}

#carrito {
    display: none;
}

#info {
    display: none;
}

.logo {
    width: 170px;
    height: 80px;
}
/*---------------------------- Sobre Nostros css ----------------------- */
.contenedor-sobrenosotros{
    display: flex;
    justify-content: center;
}
.mantenimiento{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    color: rgb(207, 207, 207);
    font-size: 120px;
}


/*---------------------------- Css de los productos al momento de hacer click ----------------------- */
.producto-page {
    display: flex;
    margin-top: 3, 125rem;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.img-producto {
    width: 400px;
    height: 600px;
    margin-bottom: 0;
}

.description-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
}

.h1-titulo-producto {
    color: white;
    font-size: 50px;
}

.parrafo-producto {
    font-size: 15px;
    color: white;
    width: 200px;
    height: 200px;
    margin-top: 20px;
    text-align: center;
}

.boton-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    background-color: rgb(145, 241, 191);
    border-radius: 5px;
}

.boton-contact:hover {
    background-color: rgb(65, 237, 73);
}

.gg-arrow-left {
    color: white;
    margin-bottom: 500px;
    padding: 5px;
}

/* carrusel para ver mas fotos del producto*/
.carrusel-container2 {
    display: flex;
}

.bannerProductos {
    margin-top: 15vh;
    width: 30rem;
}

#anteriorBtnimg {
    position: absolute;
    transform: translateX(-1036%);
    top: 55vh;
}

#siguienteBtnimg {
    position: absolute;
    transform: translateX(10%);
    top: 55vh;
}


/*------------------------------------------- Mediaquery mobil -------------------------------------- */

@media (max-width: 1280px) {

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-1031%);
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(8%);
    }
}

@media (max-width: 913px) {
    .navegation {
        display: flex;
        justify-content: center;
        max-width: 300px;
    }

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-986%);
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(56%);
    }
}


@media (max-width: 855px) {
    .navegation {
        display: flex;
        justify-content: center;
        max-width: 300px;
    }

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-1150%);
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(-70%);
    }
    .bannerProductos {
        margin-top: 15vh;
        width: 40rem;
        
    }
    .producto-page{
        display: flex;
        flex-direction: column;
    }
    .h1-titulo-producto {
        color: white;
        font-size: 75px;
    }
    
    .parrafo-producto {
        font-size: 25px;
        color: white;
        width: 400px;
        height: 200px;
        margin-top: 20px;
    }
    
    .boton-contact {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 60px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        margin: 30px;
    }
}

@media (max-width: 480px) {
    .navbar_link {
        height: 4rem;
        z-index: 1;
        position: fixed;
        font-size: 30px;
        display: flex;
        align-items: center;
        font-family: 'Cabin', sans-serif;
    }

    .contenedor-productos {
        min-height: 10vh;
        width: 20.7rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .text-navbar {
        display: none;
    }

    #carrito {
        display: block;
    }

    #info {
        display: block;
    }

    button {
        position: absolute;
        font-size: 15px;
        padding: 10px 20px;
        background-color: #3333334a;
        border-radius: 500%;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }

    #anteriorBtn {
        top: 156px;
    }

    #siguienteBtn {
        top: 156px;
    }

    .productos {
        width: 160px;
        height: 200px;
    }

    .logo {
        position: relative;
        width: 100px;
        height: 40px;
    }

    .redes {
        display: flex;
        gap: 20px;
    }

    .banner {
        margin-top: 3.3rem;
    }

    .redes-borde {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
    }

    .producto-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1px;
    }

    .img-producto {
        width: 20rem;
        height: 20rem;
        margin-bottom: -2.3rem;
    }

    .description-product {
        display: flex;
        flex-direction: column;
        margin-top: -17px;
        align-items: center;
    }

    .h1-titulo-producto {
        color: white;
        font-size: 35px;
    }

    .parrafo-producto {
        font-size: 15px;
        color: white;
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .boton-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        margin-top: 2rem;
    }

    .boton-contact:hover {
        background-color: rgb(65, 237, 73);
    }

    .gg-arrow-left {
        display: none;
    }

    .gg-corner-down-left {
        color: white;
        margin-top: 50px;
    }

    .bannerProductos {
        margin-top: 15vh;
        width: 20rem;
    }

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-598%); 
        top: 250px;
    }
    
    #siguienteBtnimg {
        position: absolute;
        transform: translateX(-60%);
        top: 250px;
    }
}

@media (max-width: 320px) {
    .navbar {
        width: 20rem;
    }

    .logo {
        width: 7rem;
    }

    .contenedor-productos {
        width: 19rem;
    }

    .productos {
        width: 9rem;
    }

    .producto-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 17px;
    }

    .img-producto {
        width: 20rem;
        height: 20rem;
        margin-bottom: -2.3rem;
    }

    .description-product {
        display: flex;
        flex-direction: column;
        margin-top: -18px;
        align-items: center;
    }

    .h1-titulo-producto {
        color: white;
        font-size: 35px;
    }

    .parrafo-producto {
        font-size: 15px;
        color: white;
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .boton-contact {
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        margin-top: 0rem;
    }

    .boton-contact:hover {
        background-color: rgb(65, 237, 73);
    }

    .gg-arrow-left {
        display: none;
    }

    .gg-corner-down-left {
        color: white;
        margin-top: 50px;
    }

}