@import url('https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/facebook.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/instagram.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/corner-down-left.css');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Multani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


* {
    color: black;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.line-space {
    width: 1200px;
    height: 1px;
    background-color: white;
}

/*---------------------- Main-------------------------------------- */
.banner {
    width: 100%;
    margin-top: 86px;

}

/*---------------------- Parte de los productos----------------------- */
.contenedor-productos {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.productos {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productos-2 {
    display: none;
}

/*----------------------------Carrusel manual---------------------------*/
button {
    position: absolute;
    top: 50%;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #33333344;
    color: #fff;
    border: none;
    cursor: pointer;
}

#anteriorBtn {
    left: 10px;
    position: absolute;
    transform: translateY(-100%);
}

#siguienteBtn {
    right: 10px;
    position: absolute;
    transform: translateY(-100%);
}

/*----------------------------------------------------------------------*/


/*--------------------------------Footer -------------------------------*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.redes {
    display: flex;
    gap: 50px;
}

.redes-borde {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    border-radius: 100px;
}

.gg-facebook {
    font-size: 30px;
    color: white;
}

.gg-instagram {
    font-size: 30px;
    color: white;
}

.bi-whatsapp {
    color: white;
    font-size: 25px;
}

/*--------------------  MAQUETADO RESPONSIVE CSS GRID /*-------------------------------------- */
.navbar {
    grid-area: navbar;
    display: flex;

}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    width: 100%;
    height: 200px;
    background-color: rgb(0, 0, 0);
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "navbar"
        "main"
        "footer";
}

/*-------------------------- NAVBAR STYLE----------------------- */
.navbar_link {
    position: fixed;
    z-index: 1;
    width: 103%;
    align-items: center;
    height: 6rem;
    background-color: rgba(0, 0, 0, 0.929);
    display: flex;
    justify-content: center;
}

.text-navbar {
    font-size: 22px;
    font-family: 'Barlow', sans-serif;
    margin-right: 50px;
    color: rgba(248, 249, 249, 0.81);
}

.text-navbar:hover {
    text-decoration: underline;
}

#carrito {
    display: none;
}

#info {
    display: none;
}

.logo {
    width: 300px;
    height: 52px;
    margin-right: 156px;
}

.gg-info {
    color: rgb(145, 241, 191);
}

.gg-shopping-cart {
    color: rgb(145, 241, 191);
}

/*---------------------------- Nosotros.html css ----------------------- */
.contenedor-sobrenosotros {
    display: flex;
    justify-content: center;
}

.mantenimiento {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 200px;
    color: rgb(207, 207, 207);
    font-size: 120px;
}


/*--------------------------------Servicios css------------------------------  */

.contenedor-servicios {
    display: flex;
}

.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.titulos-servicios {
    color: rgb(97, 239, 152);
    display: flex;
    font-size: 4vh;
}

.servicios-text {
    color: white;
    width: 50rem;
    font-size: 3vh;
    font-family: 'Open Sans', sans-serif;
}


/*---------------------------- Css de los productos al momento de hacer click ----------------------- */
.producto-page {
    display: flex;
    margin-top: 3, 125rem;
    gap: 101px;
    justify-content: center;
    align-items: center;
}

.img-producto {
    width: 400px;
    height: 600px;
    margin-bottom: 0;
}

.description-product {
    display: flex;
    flex-direction: column;
    margin-bottom: 53px;
    align-items: center;
}

.h1-titulo-producto {
    color: white;
    font-size: 50px;
}

/* Dorado Cardo css precio */
.precio-dorado {
    color: rgb(91, 183, 108);
    position: relative;
    bottom: -140px;
    font-size: 17px;
}

/*Balsamo css precio */
.precio-balsamo {
    color: rgb(91, 183, 108);
    position: relative;
    bottom: -95px;
    font-size: 17px;
}

/*Jabali rojo css precio */

.precio-jabali {
    color: rgb(91, 183, 108);
    position: relative;
    bottom: -95px;
    font-size: 17px;
}

/*Puma verde css precio */

.precio-puma {
    color: rgb(91, 183, 108);
    position: relative;
    bottom: -95px;
    font-size: 17px;
}

.parrafo-producto {
    font-size: 15px;
    color: white;
    width: 362px;
    height: 150px;
    font-family: 'Noto Sans Multani', sans-serif;
    margin-top: 20px;
    text-align: start;
}

.boton-contact-dorado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: rgb(145, 241, 191);
    border-radius: 5px;
    position: absolute;
    bottom: 10vh;

}

.boton-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    background-color: rgb(145, 241, 191);
    border-radius: 5px;
    position: absolute;
    bottom: 15vh;
}

.boton-contact:hover {
    background-color: rgb(65, 237, 73);
}

.gg-arrow-left {
    color: white;
    margin-bottom: 500px;
    padding: 5px;
}

/* carrusel para ver mas fotos del producto*/
.carrusel-container2 {
    display: flex;
}

.bannerProductos {
    margin-top: 15vh;
    width: 30rem;
}

#anteriorBtnimg {
    position: absolute;
    transform: translateX(-1036%);
    top: 55vh;
}

#siguienteBtnimg {
    position: absolute;
    transform: translateX(10%);
    top: 55vh;
}


/*------------------------------------------- Mediaquery mobil -------------------------------------- */

@media (max-width: 1280px) {

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-1031%);
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(8%);
    }
}

@media (max-width: 913px) {
    .navegation {
        display: flex;
        justify-content: center;
        max-width: 300px;
    }

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-986%);
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(56%);
    }
}

@media (max-width: 855px) {
    .navegation {
        display: flex;
        justify-content: center;
        max-width: 300px;
    }

    .logo {
        width: 20rem;
        margin-left: 150px;
    }

    .text-navbar {
        display: none;
    }

    #info {
        display: block;
    }

    #carrito {
        display: block;
    }

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-1150%);
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(-70%);
    }

    #siguienteBtn {
        position: absolute;
        transform: translateX(-10%);
        top: 195px;
        background-color: transparent;
    }

    #anteriorBtn {
        position: absolute;
        transform: translateX(-10%);
        top: 195px;
        background-color: transparent;
    }

    .bannerProductos {
        margin-top: 15vh;
        width: 40rem;

    }

    .producto-page {
        display: flex;
        flex-direction: column;
    }

    .h1-titulo-producto {
        color: white;
        font-size: 75px;
    }

    .parrafo-producto {
        font-size: 25px;
        color: white;
        width: 550px;
        height: 70vh;
    }

    .boton-contact {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 60px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 150vh;
    }

    /*Servicos css */
    .contenedor-servicios {
        display: flex;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .titulos-servicios {
        color: rgb(97, 239, 152);
        display: flex;
        font-size: 2rem;
    }

    .servicios-text {
        width: 45rem;
        color: white;
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
    }

    .line-space {
        display: none;
    }
}

@media (max-width: 769px) {
    .parrafo-producto {
        font-size: 25px;
        color: white;
        width: 550px;
        height: 70vh;
    }

    .text-navbar {
        display: none;
    }

    .logo {
        margin-left: 10rem;
    }

    #carrito {
        display: block;
    }

    #info {
        display: block;
    }

    .boton-contact {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 60px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 170vh;
    }

    .producto {
        display: none;
    }

    #siguienteBtn {
        position: absolute;
        transform: translateX(-10%);
        top: 195px;
        background-color: transparent;
    }

    #anteriorBtn {
        position: absolute;
        transform: translateX(-10%);
        top: 195px;
        background-color: transparent;
    }

    /*Servicos css */
    .contenedor-servicios {
        display: flex;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .titulos-servicios {
        color: rgb(97, 239, 152);
        display: flex;
        font-size: 2rem;
    }

    .servicios-text {
        width: 43rem;
        color: white;
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
    }

    .line-space {
        display: none;
    }

}

@media (max-width: 414px) {
    .boton-contact {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        margin-top: 2rem;
        position: absolute;
        top: 125vh;
    }

    .contenedor-productos {
        min-height: 10vh;
        width: 26.7rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 15px;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .producto {
        display: none;
    }
}

@media (max-width: 480px) {
    .navbar_link {
        height: 4rem;
        z-index: 1;
        position: fixed;
        font-size: 30px;
        display: flex;
        align-items: center;
        font-family: 'Cabin', sans-serif;
        justify-content: space-around;
    }

    .contenedor-productos {
        min-height: 10vh;
        width: 25.4rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap: 3px;
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .text-navbar {
        display: none;
    }

    #carrito {
        display: block;
    }

    #info {
        display: block;
    }

    button {
        position: absolute;
        font-size: 15px;
        padding: 10px 20px;
        background-color: #3333334a;
        border-radius: 500%;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }

    #anteriorBtn {
        border-radius: 0;
        transform: translateX(-10%);
        top: 120px;
        background-color: transparent;
    }

    #siguienteBtn {
        border-radius: 0;
        transform: translateX(-10%);
        top: 120px;
        background-color: transparent;
    }

    .productos {
        width: 160px;
        height: 200px;
        display: none;
    }

    .productos-2 {
        width: 200px;
        height: 200px;
        display: block;
    }

    .logo {
        position: relative;
        width: 15rem;
        height: 40px;
        margin-right: -14px;
        margin-left: -32px;
    }

    .precio-dorado {
        position: relative;
        top: -9rem;
    }

    .precio-jabali {
        position: relative;
        top: -12rem;
    }

    .precio-puma {
        position: relative;
        top: -17rem;
    }

    .precio-balsamo {
        position: relative;
        top: -13rem;
    }

    .redes {
        display: flex;
        gap: 20px;
    }

    .banner {
        margin-top: 3.3rem;
    }

    .redes-borde {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: rgb(0, 0, 0);
        border-radius: 100px;
    }

    .producto-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -60px;
    }

    .img-producto {
        width: 20rem;
        height: 20rem;
        margin-bottom: -2.3rem;
    }

    .description-product {
        display: flex;
        flex-direction: column;
        margin-top: -80px;
        align-items: center;
    }

    .h1-titulo-producto {
        color: white;
        font-size: 35px;
    }

    .parrafo-producto {
        font-size: 15px;
        color: white;
        width: 300px;
        height: 500px;
        margin-top: 20px;
    }

    .boton-contact {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 110vh;
    }

    .boton-contact-puma {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 96vh;
    }

    .boton-contact:hover {
        background-color: rgb(65, 237, 73);
    }

    .gg-arrow-left {
        display: none;
    }

    .gg-corner-down-left {
        color: white;
        margin-top: 50px;
    }

    .bannerProductos {
        margin-top: 15vh;
        width: 20rem;
    }

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-598%);
        top: 200px;
        background-color: transparent;
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(-60%);
        top: 200px;
        background-color: transparent;
    }

    .click-servicios {
        display: flex;
        justify-content: center;
        margin: 10px;
        align-items: center;
        background-color: rgba(236, 216, 181, 0.611);
    }

    .pstyle {
        display: flex;
        justify-content: center;
        color: rgb(0, 0, 0);
        font-weight: bold;
    }

    .click2-servicios {
        width: 10rem;
        height: 2rem;
    }

    /*Servicos css */
    .contenedor-servicios {
        display: flex;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos-servicios {
        color: rgb(97, 239, 152);
        display: flex;
        width: 310px;
        font-size: 25px;
    }

    .servicios-text {
        color: white;
        width: 320px;
        height: 100px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .line-space {
        display: none;
    }

    .precio-producto {
        color: rgb(86, 244, 149);
        font-size: 20px;
        position: relative;
        bottom: 180px;
        font-weight: bold;
    }

    .boton-contact-dorado {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        bottom: -25vh;
    }

    .precio-producto-dorado {
        display: flex;
        margin: 10px;
        flex-direction: column;
        width: 150px;
        color: rgb(86, 244, 149);
        font-size: 20px;
        position: relative;
        bottom: 173px;
        font-weight: bold;
    }

    .contenedor-precio-dorado {
        display: none;
    }

}

@media (max-width: 391px) {
    .parrafo-producto {
        font-size: 15px;
        color: white;
        width: 300px;
        height: 500px;
        margin-top: 20px;
    }

    .description-product {
        display: flex;
        flex-direction: column;
        margin-top: -80px;
        align-items: center;
    }

    .click-servicios {
        display: flex;
        justify-content: center;
        margin: 10px;
        align-items: center;
    }

    .boton-contact-dorado {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        bottom: -26vh;
    }


    .precio-dorado {
        position: relative;
        top: -10rem;
    }

    .precio-jabali {
        position: relative;
        top: -12rem;
    }

    .precio-puma {
        position: relative;
        top: -18rem;
    }

    .precio-balsamo {
        position: relative;
        top: -13rem;
    }

    .logo {
        margin-left: -34px;
    }

    .pstyle {
        display: flex;
        justify-content: center;
        color: rgb(129, 239, 142);
        font-weight: bold;
    }

    .click2-servicios {
        width: 8rem;
        height: 2rem;
    }

    .boton-contact {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 114vh;
    }

    .boton-contact-puma {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 108vh;
    }

    .contenedor-productos {
        min-height: 10vh;
        width: 22rem;
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, 175px);
        gap: 5px;
        padding: 5px;
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .producto {
        display: none;
    }

    .productos-2 {
        width: 170px;
        height: 170px;
    }

    /*Servicos css */
    .contenedor-servicios {
        display: flex;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos-servicios {
        color: rgb(97, 239, 152);
        display: flex;
        width: 300px;
        font-size: 25px;
    }

    .servicios-text {
        color: white;
        width: 300px;
        height: 200px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
    }

    .line-space {
        display: none;
    }
}

@media (max-width: 320px) {
    .navbar {
        width: 20rem;
    }

    .navbar_link {
        background-color: black;
    }

    .logo {
        width: 11rem;
        height: 2rem;
        margin-left: -16px;
    }

    .click-servicios {
        display: flex;
        justify-content: center;
        margin: 10px;
        align-items: center;
        border-radius: 15px;
    }

    .precio-dorado {
        position: relative;
        top: 1rem;
    }

    .precio-jabali {
        position: relative;
        top: -5rem;
    }

    .precio-puma {
        position: relative;
        top: -12rem;
    }

    .precio-balsamo {
        position: relative;
        top: -7rem;
    }

    .pstyle {
        display: flex;
        justify-content: center;
        color: rgb(129, 239, 142);
        font-weight: bold;
    }

    .click2-servicios {
        width: 10rem;
        height: 2rem;
    }

    .contenedor-productos {
        min-height: 10vh;
        width: 19.3rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 145px);
        gap: 10px;
        margin-top: -1px;
        margin-bottom: 70px;
    }

    .producto {
        display: none;
    }

    .bannerProductos {
        width: 15rem;
    }

    #siguienteBtnimg {
        position: absolute;
        transform: translateX(-60%);
        top: 195px;
        background-color: transparent;
    }

    #anteriorBtnimg {
        position: absolute;
        transform: translateX(-437%);
        top: 195px;
        background-color: transparent;
    }

    .boton-contact-puma {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 145vh;
    }

    .productos-2 {
        width: 150px;
        height: 150px;
    }

    .producto-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 17px;
    }

    .img-producto {
        width: 15rem;
        height: 20rem;
        margin-bottom: -2.3rem;
    }

    .description-product {
        display: flex;
        flex-direction: column;
        margin-top: -80px;
        align-items: center;
    }

    .h1-titulo-producto {
        color: white;
        font-size: 35px;
    }

    .parrafo-producto {
        font-size: 15px;
        color: white;
        width: 250px;
        height: 450px;
        margin-top: 20px;
    }

    .boton-contact {
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 175vh;
    }

    .boton-contact:hover {
        background-color: rgb(65, 237, 73);
    }

    .gg-arrow-left {
        display: none;
    }

    .gg-corner-down-left {
        color: white;
        margin-top: 50px;
    }

    .servicios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .titulos-servicios {
        color: rgb(97, 239, 152);
        display: flex;
        width: 240px;
        font-size: 25px;
    }

    .servicios-text {
        color: white;
        width: 240px;
        height: 150px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .line-space {
        display: none;
    }

    .precio-producto {
        color: rgb(86, 244, 149);
        font-size: 20px;
        position: relative;
        bottom: 90px;
        font-weight: bold;
    }


    .boton-contact-dorado {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        bottom: -90vh;
    }

    .boton-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 820px;
    }
}

@media (max-width: 320px) {
    .boton-contact-dorado {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        bottom: -26vh;
    }

    .boton-contact {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 865px;
    }

    .boton-contact-puma {
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 40px;
        background-color: rgb(145, 241, 191);
        border-radius: 5px;
        position: absolute;
        top: 98vh;
    }
}